:root {
  --background-body-color: #ffffff;
  --primary-text-color: #434455;
  --titel-text-color: #2e2f42;
  --button-text-color: #4d5ae5;
  --button-hover-background: #404bbf;
  --second-background-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
  --background-menu-color: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    #ffffff;
}

.list {
  list-style: none;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* --------------Тіло сторінки ------------------*/

body {
  margin: 0;
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid tomato; */
  /* background-color: aqua; */
}

.shadow-port-head {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e7e9fc;
}

.section {
  padding: 120px 0;
}

/*-------------------Логотип--------------------- */

.link {
  text-decoration: none;
}

.logo {
  margin-right: 76px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  color: var(--button-text-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.studio {
  color: var(--titel-text-color);
}

/*---------------------- Навігація------------------ */
.nav-menu {
  display: flex;
  gap: 40px;
}

.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-container {
  display: flex;
  margin-right: auto;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--button-hover-background);
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--titel-text-color);
}

/*------------------------Адрес ------------------*/

.address-list .address-item:hover,
.address-list .address-item:focus {
  color: var(--button-hover-background);
}

.address-item {
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
}

.address-list {
  display: flex;
  gap: 40px;
}

/* ------------------Головна частина--------------- */

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--titel-text-color);
}
/* -----------------------Герой --------------------------*/
.hero {
  padding: 188px 0;
  margin: 0 auto;
  text-align: center;
  background-color: var(--titel-text-color);
}
.hero-title {
  width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  color: var(--background-body-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero-button:focus,
.hero-button:hover {
  color: var(--background-body-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--button-hover-background);
}

.hero-button {
  text-align: center;
  /* min-width: 169px; */
  border-radius: 4px;
  border: 0;
  padding: 16px 32px;
  font-family: 'Roboto', sans-serif;
  color: var(--background-body-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--button-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*-------------------- Рішення--------------------- */

.solutions-text-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--titel-text-color);
}

.solutions-text {
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.solutions-text-list {
  display: flex;
}

.solutions-text-item {
  width: calc((100% - 72px) / 4);
  margin-right: 24px;
}

.solutions-text-item:nth-child(4n) {
  margin-right: 0;
}

/* ----------------Приклади робіт ----------------------*/
.section.example {
  padding-top: 0;
}

.title-container {
  margin-bottom: 72px;
}

.example-item {
  width: calc((100% - 48px) / 3);
  margin-right: 24px;
}

.example-item:nth-child(3n) {
  margin-right: 0;
}

.example-list {
  display: flex;
}
/* ------------------- Команда ------------------------------*/

.team {
  background: var(--second-background-color);
}

.container-team-card {
  padding: 32px 0;
}

.team-name {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--titel-text-color);
}
.team-text {
  text-align: center;
  letter-spacing: 0.02em;
}

.team-card {
  background-color: var(--background-body-color);
  width: calc((100% - 72px) / 4);
  margin-right: 24px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-card:nth-child(4n) {
  margin-right: 0;
}

.team-list {
  display: flex;
  /* gap: 24px; */
}
/* ----------------------Клієнти------------------------ */

/* ------------------------Підвал--------------------------- */

.footer {
  background: var(--titel-text-color);
  padding: 100px 0;
}

.footer-logo {
  text-decoration: none;
  text-transform: uppercase;
}

.footer-logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--button-text-color);
}

.footer-studio {
  color: var(--second-background-color);
}

.footer-text {
  color: var(--footer-text-color);
  letter-spacing: 0.02em;
}

.footer-container {
  width: 264px;
}

/*-------------------- Портфоліо --------------------*/

.section.samples {
  padding-top: 96px;
}
.samples-bar {
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
  gap: 24px;
}

.samples-pic {
  display: flex;
  flex-wrap: wrap;
}

.samples-list {
  width: calc((100% - 48px) / 3);
  margin-right: 24px;
  margin-bottom: 48px;
}

.samples-list:nth-child(3n) {
  margin-right: 0;
}

.samples-list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.samples-pic-container {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #e7e9fc;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e7e9fc;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #e7e9fc;
  padding: 32px 16px;
}
.bar-btn {
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  font-family: 'Roboto', sans-serif;
  color: var(--button-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--second-background-color);
}

.bar-btn:focus,
.bar-btn:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--button-hover-background);
  color: var(--background-body-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: var(--button-hover-background);
}

.samples-titel {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 8px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--titel-text-color);
}

.samples-text {
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
